<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajpa.dashboard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".login" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".navigation_dashboard"
            android:screenOrientation="portrait">
            android:label="dashbord"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Buy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Sell_payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Purchase_payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Sell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Stock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.History"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.Display" />
        <activity android:name=".Activity.Settings" />
        <activity android:name=".registration" />
        <activity android:name=".Activity.setting_viewsellparties" />
        <activity android:name=".Activity.setting_viewpurchaseparties" />
        <activity android:name=".Activity.setting_addqualitybfgsm" />
        <activity android:name=".Activity.setting_yourinformation" />
        <activity android:name=".Add_stock" />
        <activity android:name=".Remove_stock" />
        <activity android:name=".Add_purchase_parties" />
        <activity android:name=".Add_sell_parties"></activity>
    </application>

</manifest>